{{ 'component-cart.css' | asset_url | stylesheet_tag }}

<div class="cart-grid--8-col">
  <div class="cart__warnings">
    <form action="{{ routes.all_products_collection_url }}" method="get">
      <button type="submit" class="button button-wrapper button-wrapper-mobile caps">Error</button>
    </form>
  </div>
</div>
